#content-header
  %h1
    Dashboard
  .btn-group
    = link_to "", :class => "btn btn-large tip-bottom", :title => "Manage Files" do
      %i{ :class => "icon-file" }
    = link_to "", :class => "btn btn-large tip-bottom", :title => "Manage Users" do
      %i{ :class => "icon-user" }
    = link_to "", :class => "btn btn-large tip-bottom", :title => "Manage Comments" do
      %i{ :class => "icon-comment" }
    = link_to "", :class => "btn btn-large tip-bottom", :title => "Manage Orders" do
      %i{ :class => "icon-shopping-cart" }