#search
  = text_field_tag "search", "", :placeholder => "Search here...", :id => "search_box"
  = button_tag icon("icon-search icon-white"), :class => "tip-right", :title => "Search", :type => "submit", "data-original-title" => "Search"