.row-fluid
  .span4
  .span4
    - flash.each do |name, msg|
      - if msg.is_a?(String)
        .alert
          = button_tag :type => "button", :class => "close", 'data-dismiss' => "alert" do
            &times;
          %h4
            = msg
  .span4